body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    min-height: 100vh;
    padding-top: 40px;
}

.card-form {
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 95px 95px 95px auto;
    gap: 4px;
    align-items: stretch;
}

/* FRONT CARD */
.card-front {
    background: #dcdcdc;
    padding: 18px;
    border-radius: 12px;
    width: auto;
    z-index: 2;
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 1.6fr 1fr auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "total total icon"
        "number number number"
        "holder holder expiration";

    gap: 10px;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.2);
    transform: translate(63px, 70px);
}

.total {
    grid-area: total;
    font-weight: bold;
    align-self: center;
}

.card-icon {
    grid-area: icon;
    justify-self: end;
    align-self: start;
    font-size: 1.35rem;
    filter: sepia(1) saturate(4) hue-rotate(355deg) brightness(1.05);
}

.card-number {
    grid-area: number;
    display: flex;
    flex-direction: column;
}

.card-number input {
    height: 22px;
    border: 1px solid gray;
    border-radius: 0;
    padding: 2px 6px;
}

.card-holder {
    grid-area: holder;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-holder input {
    height: 22px;
    border: 1px solid gray;
    border-radius: 0;
    padding: 2px 6px;
}

#cardExpiration {
    grid-area: expiration;
    display: grid;
    grid-template-columns: 44px 44px;
    column-gap: 10px;
    row-gap: 4px;
    justify-content: start;
    align-items: start;
    align-self: start;
}

#cardExpiration label {
    grid-column: 1 / -1;
    justify-self: start;
}

#cardExpiration input {
    width: 44px;
    height: 22px;
    border: 1px solid gray;
    border-radius: 0;
    padding: 2px 4px;
}

.card-back {
    background: #dcdcdc;
    padding: 18px;
    border-radius: 12px;
    width: auto;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    z-index: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.6fr 1fr;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.2);
}

.stripe {
    background: black;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 30px;
    min-height: 0;
    align-self: start;
    border-radius: 0;
}

.cvc {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.cvc input {
    width: 60px;
    height: 22px;
    border: 1px solid gray;
    border-radius: 0;
    padding: 2px 4px;
}

button {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    justify-self: end;
    margin-top: 10px;
    padding: 9px 16px;
    border-radius: 0;
    border: 1px solid gray;
    cursor: pointer;
}