@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body, main {
  font-family: Roboto, sans-serif;
  background-color: lightgray;
}
header,
footer {
  margin: 0;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: rgb(48, 117, 207);
}
.header-content {
  max-width: 1000px;
  margin: 0 auto;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    justify-items: center;
}
h1{
    text-align: center;
    color: white;
} 
h2{
    text-align: center;
    color: black;
    width: 100%;
    grid-column: 1 / -1;
} 
dialog img {
    max-width: 700px;
    width: auto;
    height: auto;
    display: block;
    margin: 10vh auto;
    border: none;
    padding: 0;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
figure {
    margin: 0;
    display: flex;
    justify-content: center;
}
figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    display: block;
    margin: 0 auto;
}           
.currentwork {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}
nav {
    display: none;
}
nav.show {
    display: block;
}
nav.show a {
    display: block;
    padding: 10px 20px;
    text-align: center;
}
nav a {
    padding: 20px;
    color: white;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    border: none;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    text-align: center;
}
footer {
    text-align: center;
    color: white;
}

@media screen and (max-width: 400px) {
    img {
        width: 100%;
        height: auto;
    }
    
}
@media screen and (min-width: 700px)
    {

    .currentwork {
        display: grid;
        grid-template-columns:1fr 1fr;
        row-gap: 0.5rem;
        column-gap: 0.60rem;
        justify-content: center;
    }
}

    /*  this one is for wider screens */
@media screen and (min-width: 1000px) {
    .menu-btn{
        display: none;
    }
    nav {
        display: block !important;
        text-align: center;
    }
    .currentwork {
        grid-template-columns:1fr 1fr 1fr;
        row-gap: 1rem;
        justify-content: center;
        width: 100%;
    }

}