body {
    background-color: white;
    font-size: 20px;
    height: 400vh;
    width: 50vw;

}
/* DOC SIZE */
#content {
    max-width: 60%;
    border: 1px solid  lightgray;
    margin:  0 auto;
    padding: 50px;

}
/* BYU */
p {
    color: #035f9c;
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin-top: -10px;
}
#mission {
    text-align: left;
    width: 80%;
    margin: 0; 
    
}
/* LINE */
hr {
    height: 0.2px;
    background-color: #035f9c;
    width: 75%;
    margin-top: .2px;
    margin-bottom: 60px;
}
/* MISSION STATEMENT */
h1{
    
    text-align: center;
    letter-spacing: 0.1em;

}
h2 {/* THEUNIVERSITY */
    text-align: left;
    font-size: 1.0em;
    margin-bottom: 5px;
    font-style: italic;
    font-weight: normal;
    /* padding: 5px; */
}
/* LOGO */
img {
    width: 20%;
    display: block;
    margin: 50px auto;
}
/* NUMBERS */
#topics {
    line-height: 1.5em;
    margin: 2em auto;
    width: 75%;
}

.ordered {
    list-style-type: decimal;
}
/* FONT FOR WORDS KINDA */
li {
    font-size: 0.9em;
    margin-bottom: 11px;
}
select {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
}
