body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1rem;
}

h1 {
    font-size: 2.2em;
    text-align: center;
    margin: 20px 0 10px;
}

.main-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
    gap: 20px;
    border-top: 1px solid #c9a66b;
    border-bottom: 1px solid #c9a66b;
    padding: 0.5rem 0;
}

.main-nav a {
    color: #b30000;
    text-decoration: none;
    font-weight: bold;
}

.book {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.details {
    text-align: right;
    font-size: 0.9em;
    border-top: 1px solid #c9a66b;

}

h2 {
    color: #b30000;
    margin: 0.5rem 0;

}

.book img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

#paragraph {
    text-align: left;
}

footer {
    text-align: center;
    font-size: 0.85rem;
    border-top: 1px solid #c9a66b;

}

@media (min-width: 1000px) {
    .book {
        max-width: 900px;
        grid-template-columns: auto 1fr;
        align-items: start;
    }
    .main-nav{
        justify-content: right;
    }

    .details {
        grid-column: 1;
        grid-row: 1 / 5;
        text-align: left;
        border-right: 1px solid #c9a66b;
        padding-right: 1.5rem;
        margin-right: 1.5rem;
        min-height: 400px;
    }

    h2 {
        grid-column: 2;
        margin: 0.5rem 0;
    }

    .book img {
        grid-column: 2;
        grid-row: 2;
        max-width: 100%;
    }

    #paragraph {
        grid-column: 2;
        grid-row: 3;
        text-align: left;
    }
}
